@import "vars";
@import "fonts";
@import "libs";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-family: $font-base;
  color: $base-color;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
nav,
section,
footer {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

.section {
   width: 100%;
    min-height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0 1rem;
    z-index: 2;
   &_accent {
      background: $bg-accennt-color;
      padding: 100px 0 70px 0;
   }
}

.section-title-container {
   max-width: 40rem;
   text-align: center;
   margin: 0 auto;
}

.section-title {
   font-size: 30px;
   font-weight: bold;
   display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

.description {
   text-align: center;
   font-weight: $font-regular;
   font-size: 15px;
}

.card-services {
   background: $white-color;
   display: flex;
   flex-direction: column;
   align-items: center;
	padding: 58px 35px;
	margin-bottom: 2rem;
   &__title {
      font-size: 20px;
      font-weight: $font-semibold;
      padding: 27px 0 10px 0;
   }
   &__text {
      font-size: 15px;
      font-weight: $font-regular;
      padding-bottom: 50px;
		text-align: center;
		line-height: 1.8;
   }
   &_space {
      padding-top: 116px;
	}
	&:hover {
		background:#00897B;
		color: $white-color;
		transition: 0.4s all;
		.phone-icon {
			background-image: url('../img/phone-icon-hover.png');
			transition: 0.4s all;
		}
		.btn {
			background:#00897B;
			color: $white-color;
			border-color: $white-color;
			transition: 0.4s all;
		}
	}

}

.phone-icon {
	background-image: url('../img/phone-icon.png');
	height: 70px;
	width: 70px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	// &:hover {
	// 	background-image: url('../img/phone-icon-hover.png');
	// }
}

.btn {
   border: 2px solid $base-color;
   background: $white-color;
   padding: 8px 15px;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: $font-semibold;
	color: $base-color;
	cursor: pointer;
	// &:hover {
	// 	background:#00897B;
	// 	color: $white-color;
	// 	border-color: $white-color;
		
	// }
}



@import "media"; // Always at the end
